# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
backend/.env

# Compilación de TypeScript
backend/dist/
build/
*.tsbuildinfo

# Carpetas del sistema / IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/

# Otros
*.log

uploads/
tmp/

*.local

backend/node_modules/